/* mobile first design */

{
box-sizing: border-box;
font-family: Arial, sans-serif;
}

body {
  padding: 0;
   margin: 0;
}

header {
  width: 100vw;
  height: 100vh;
}

#rhodiePicture {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url("Pacific Rhododendron 2 - Gary Monroe-1.jpeg");
  background-size: cover;
  background-position: center center;
}

#rhodieTitle {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

#rhodieTitle h1 {
  position: absolute;
  bottom: 0;
  left: 1en;
  color:white;
  font-size: 2.5en;
  width: calc(100vw - 2en);
}

