/* Page */

body{
    margin:0;
    font-family: Georgia, serif;
    background:#efefef;
    color:#222;
}


/* HEADER LAYOUT */

header{
    max-width:1200px;
    margin:auto;
    padding:40px;

    display:grid;
    grid-template-columns: 2fr 1fr;
    gap:40px;
    align-items:center; /* centers text block with image */
}


/* Image */

header img{
    grid-column:1;
    width:100%;
    border:4px solid #2f86c7;
}


/* Title */

header h1{
    grid-column:2;
    font-size:64px;
    margin-bottom:25px;
    line-height:1.1;
}


/* Recipe info */

header p{
    grid-column:2;
    font-size:20px;
    margin:6px 0;
    color:#555;
}

/* MAIN SECTION */

main{
    max-width:1200px;
    margin:auto;
    padding:20px 40px 40px 40px;

    display:grid;
    grid-template-columns:1fr 2fr;
    gap:50px;
}


/* Section titles */

h2{
    font-size:32px;
    margin-bottom:10px;
}


/* Lists */

ul{
    padding-left:20px;
    line-height:1.7;
}

ol{
    padding-left:20px;
    line-height:1.7;
}


/* Footer */

footer{
    text-align:center;
    padding:20px;
    margin-top:40px;
    color:#555;
}
